/* pagination.component.scss */
.pagination {
    background-color: rgba(0, 0, 0, 0.158);
    position: fixed;
    right: 1em;
    z-index: 100;
    bottom: 1.5em;
    display: block;
    color: rgb(15, 3, 3);

}